/*

	1. CSS resets
	2. Universal styles

*/


/* 1. CSS resets 
--------------------------------------*/
p {	margin: 0; }
ul { padding: 0; }
li { list-style: none; }
a { text-decoration: none; }

/*  2. Universal styles
--------------------------------------*/
body { 

    background-color: #07397e;
 }

h1 {
	font-size: 30px;
	line-height: 1.5;
	text-shadow: 1px 1px 1px rgba(167, 221, 255, 0.5);
	margin: 0 0 10px 0;
}

h2 { color: #ffffff; }

h1, h2, h3 { font-weight: 300; }

h2, h3, footer i { font-size: 18px; }

p, form, ul { font-size: 14px; }

.subtitle { 
font-weight: bold; color: #ffffff; }

.portfolio-group .detail p { 
font-size: 12px; }

footer p, address {	
font-size: 14px; }

#templatemo_timeline .time_line_paragraph h1 { 
font-size: 24px; }

#logo a {	
	color: #ffffff; 
	margin-left: 15px;
	margin-right: 15px;
}
#logo, #templatemo_timeline i {	
font-size: 18px; }

.main-container { 
	max-width: 1200px;
	margin: 0 auto;	
	box-shadow: 0 0 5px rgba(107, 110, 112, 0.4); 
}

.content-container {
	box-sizing: border-box;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
}
a:hover, a:active {
    background-image: url("images/backgroundicon.png");
    background-position: center;
    background-size: cover;
    position: relative;
    background-size: 196px 196px;
    background-repeat: no-repeat;

}
.content { padding-top: 15px; }

.main-nav { border-bottom: #DDDDDD 1px solid; }

.main-nav li {
	margin-right: 4px;
	background-color: rgba(247, 247, 247, 0.38);
	box-shadow: 1px 1px 1px rgba(80, 80, 80, 0.4);
}

.main-nav li a { 
    display: block;
    padding: 0px 0px;
 }

.main-nav li.active {

    background-color: rgb(255, 255, 255);
    padding: 24px 24px;
	}

.main-nav li a:hover { 
background-color: #A7DDFF;
 }

nav {
	overflow: hidden;
	padding: 20px 30px 20px 20px;
}

ul.nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

ul.nav li {	cursor: pointer; display: inline-block; }
ul.nav li.active {	cursor: default; }
ul.nav li, .portfolio-group .detail h3, .templatemo_form button {
	text-transform: uppercase;
}

p { line-height: 1.8em; }
a { color: black; }
i {	color: #909090; }
footer {
	margin-top: 10px;
	padding: 15px 20px 10px 20px;
	overflow: hidden;
	background-color: rgba(242, 242, 242, 0.12);
	clear: both;
}
footer p {	
	float: left;
	margin-top: 6px;
	color: #909090;
}
footer i {	
	display: inline-block;
	padding: 5px; 
}
footer i:hover, footer i:active { color: #A7DDFF; }

ul.checkmark li:before {
	margin:0 5px 0 -15px; 
	color: #929292; 
} 
ul.pad-left {	
	overflow: auto;	
	padding-left: 30px;	
	line-height: 1.8em; 
}
