}
.mbtn {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;


}
.mbtn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.mbtn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.mbtn-primary:hover,
.mbtn-primary:focus,
.mbtn-primary:active,
.mbtn-primary.active,
.mopen .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;


}
.mbtn.outline {
  background: none;


}
.mbtn-primary.woutline {
  color: #0099cc;

}
.mbtn-primary.outline:hover, .mbtn-primary.outline:focus, .mbtn-primary.moutline:active, .mbtn-primary.moutline.active, .mopen > .mdropdown-toggle.mbtn-primary {
    background-image: url(Mouuu_background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-size: 196px 196px;
    background-repeat: no-repeat;

}
.mbtn-primary.outline:active, .mbtn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
        background-image: url(Mouuu_backgroundclick.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-size: 196px 196px;
    background-repeat: no-repeat;

}
.mbtn {
  padding: 20px 20px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 24px;
}
.mbtn:focus, .mbtn:active:focus, .mbtn.active:focus {
  outline: 0 none;
}